.FirstContainer {
  position: relative; 
  display: flex; /*flexBox 呈現方式*/
  flex-direction: column; /*用行*/
  justify-content: center; /*內容物誌中*/
  align-items: stretch; /*內容物子動延伸到滿*/
  width: 30rem; 
  height: 45rem;
  margin: 2rem auto; /*邊界 自動致中*/
  border-radius: 1rem; /*圓角*/
  font-size: 4rem;
  background: linear-gradient(222deg, rgb(66, 73, 124) 35%, rgb(26, 30, 90) 84%);
}

.SecondContainer {
  position: relative; 
  display: flex; /*flexBox 呈現方式*/
  flex-direction: row; /*用行*/
  justify-content: space-between; /*內容分散對齊*/
  align-items: stretch; /*內容物子動延伸到滿*/
  width: 100%; 
  height: 80%;
  margin: 0  auto;
  padding:1%  0.5% 1% 1% ;
  /* background-color:black;  */
}



.NumBtnDiv{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
  margin: 0px  auto;
  /* background-color: rgb(0, 255, 42); */
  
}

.NumBtnStrecth{
  width: 100%;
  display: flex;
  flex-direction: column; /*用行*/
  align-items: stretch; /*內容物子動延伸到滿*/
  background-color:cornflowerblue; 
}

.OperationRigthBtn{
  display: flex;
  flex-direction: column; /*用行*/
  align-items: stretch; /*內容物子動延伸到滿*/
  justify-content:  space-between; /*內容物誌中*/
  margin: 0  auto;
 
  height: 100%;
  /* background-color:rgb(0, 255, 42);  */
}

.OperationRigthBtnPM{
  margin: 0  auto;

  display: flex;
  flex-direction: column; /*用行*/

  height: 52%;
  /* background-color:rgb(255, 123, 0);  */
  justify-content:  space-between; /*內容物誌中*/

}


.BigEnter{
  width: 110px;
  height: 50%;
  border: none;
  margin: 10px  auto;
  border-radius: 5rem;
  background: rgb(255, 0, 98);
  color: white;
}

.NumBtnInColumn{
  display: flex;
  flex-direction: row; /*用行*/
  align-items: stretch; /*內容物子動延伸到滿*/
  width: 100%;
  height: 100%;
  justify-content: space-between; /*內容物誌中*/
  margin: 0  auto;
  padding:1%  1% 1% 1% ;
}


.Btn{
  border: none;
  background-color: transparent;
  color: white;
  width: 110px;
  height: 110px;
  justify-content: center; /*內容物誌中*/
 
}

.DisplayBlock{

  position: relative;
  display:block;  /*區塊，每個元素會自動換行*/
  /* background-color: white;  */
  width: 95%; 
  height: 20%;
  text-align: right;
  margin: 4px auto;
  color: white;
  padding-top: 2rem;
}

.OperationTopBtn{
  position: relative;
  display: flex;
  align-content: center;
  justify-content:space-between;
  /* background-color:red;  */
  margin: 0  auto;
  padding:1%  0.5% 1% 1% ;
  width:100%; 
  height: 20%;
}



.CB{
  background: linear-gradient(222deg, rgb(66, 73, 124) 35%, rgb(26, 30, 90) 84%);
  border-radius: 25px;
}



body {
  background: linear-gradient(90deg, rgba(255, 149, 195, 1)26%, rgba(255, 169, 30, 0.8)87%);
  background: -moz-linear-gradient(90deg, rgba(255, 149, 195, 1)26%, rgba(255, 169, 30, 0.8)87%);
  background: -webkit-linear-gradient(90deg, rgba(255, 149, 195, 1)26%, rgba(255, 169, 30, 0.8)87%);
  background: -o-linear-gradient(90deg, rgba(255, 149, 195, 1)26%, rgba(255, 169, 30, 0.8)87%);
}

.css-183sxea {
  font-family: Nunito;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  align-content: center;
  font-size: 40px;
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
  margin-right: 6px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  background-image: none;
  opacity: 1;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 0px;
  padding: 0px;
}